<!DOCTYPE html>
<html>
<head>
	<title>Curso Ruby on Rails</title>
</head>
<body>

<h1>Listando usuarios</h1>
<table>
	<tr>
		<td>Nombre</td>
		<td>Email</td>
	</tr>
	
	<% @usuario.each do |usuario| %>
		<tr>
			<td><%= link_to usuario.nombre, usuario %></td>
			<td><%= usuario.email %></td>
			<td><%= link_to "Editar", edit_user_path(usuario) %></td>
			<td><%= link_to "Eliminar", usuario, method: :delete, confirm: "Estas seguro?" %></td>
		</tr>
	<% end %>
</table>

</body>
</html>